@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .navbar-content {
    font-size: 0.7rem;
  }

  .filter-content {
    flex-direction: column;
    display: flex;
    justify-content: inherit;
    align-items: center;
  }

  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
